<%- include("./partials/header")  %> 

<div class="container-fluid p-3">
    <div class="hero-text mb-5">
        <h1 class="">Rate Order</h1>
    </div>  

    <div class="container table-responsive-md">
        <table class="notification-table table-hover table">
            <tr>
                <th>Restaurant Name</th>
                <th>Order ID</th>
                <th>Status</th>
                <th>Action</th>
           
            </tr>
            <tr>
                <td> <br>marks food </td>
                <td> <br>21344 </td>
                <td> <br>Rate completed</td>
                <td> 
                    <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:40px;cursor:pointer;"  class="fa fa-star checked"></span>
                    <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                    <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                    <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                    <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                    <br>
                    <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>                </td>                    
            </tr>
        </table>
    </div>
</div>
<script>
    var count;
    
    function starmark(item)
    {
    count=item.id[0];
    sessionStorage.starRating = count;
    var subid= item.id.substring(1);
    for(var i=0;i<5;i++)
    {
    if(i<count)
    {
    document.getElementById((i+1)+subid).style.color="yellow";
    }
    else
    {
    document.getElementById((i+1)+subid).style.color="black";
    }
    
    
    }
    
    }
    
    function result()
    {
    //Rating : Count
    //Review : Comment(id)
    alert("Rating : "+count+"\nReview : "+document.getElementById("comment").value);
    }
    
    </script>



<%- include("./partials/footer") %> 