<%- include("./partials/header")  %> 


<% orders.forEach(order => { %>


    <% order.items.forEach(item  =>
   { %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Order id</th>
                <th scope="col">Food order</th>
              </tr>
            </thead>
            <tbody>
                <td><%=item._id %></td>
                <td><%=item.description %></td>
              
                <%})%>
              
            </tbody>
            
          </table>

         
   <br>
   <br>
   <br>
   <br>

   
  

<% }) %>







<%- include("./partials/footer")  %> 