* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #112d4e;
    /* font-family: 'Arvo', serif; */
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

a:hover {
    text-decoration: none !important;
    color: #f9f7f7 !important;
}

.flash {
    text-align: center;
    border-radius: 5px;
}

.auth-form-container {
    width: 100%;
}

.auth-form {
    height: 60%;
}

.description {
    color: #3f72af;
    opacity: 0.5;
    font-size: 0.9rem;
}

.logo-header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

a.logo {
    text-decoration: none;
    font-weight: bold;
    color: #112d4e;
    font-family: 'Arvo', serif;
    font-size: 2rem;
    margin: auto;
}

.logo-header a:hover {
    color: #112d4e !important ;
}

.logo i {
    color: #112d4e;
}

.custom-btn i {
    color: #f9f7f7;
}

.custom-btn {
    border-radius: 2px;
    padding: 5px 25px;
    background: #112d4e;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.1),
     3px 3px 10px 0px rgba(0,0,0,.1),
     2px 2px 3px 0px rgba(0,0,0,.1);
    outline: none;   
    margin-top: 1rem;
    border: none;
    color: #dbe2ef;
}

.navbar {
    background-color: #112d4e;
}

.nav-item a{
    color: #f9f7f7;
    border-bottom: #dbe2ef;
    font-weight: 600;
}

a.navbar-brand{
    color: #f9f7f7;
    margin-right: 0.8rem;    
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Arvo', serif !important;
}

.navbar-brand i {
    color:  #f9f7f7;
    padding-right: 0.2rem;
}

.nav-item a:hover, .navbar-brand:hover {
    text-decoration: none;
    color: #f9f7f7;
    border-bottom: #dbe2ef solid;
    transition: all 0.3s ease;
}

.jumbotron {
    padding: 2rem 1rem !important;
}

#hero {
    background-color: #f9f7f7;
}

.hero-text h1{
    font-size: 4rem;
    letter-spacing: 0.1rem;
}

.hero-text p{
    font-size: 1.1rem;
    opacity: 0.6;
    letter-spacing: 0.05rem;
}

.section-header {
    font-size: 4rem;
    letter-spacing: 0.1rem;
}

.section-text {
    font-size: 1.1rem;
    opacity: 0.6;
    letter-spacing: 0.05rem;
}

.food-section {
 position: relative;
}

#food1 {
    object-fit: cover;
    width: 100%;
    height: 250px;
    -webkit-box-shadow: 4px 4px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26); 
    box-shadow: 4px 4px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26);
}

#food2{
    object-fit: cover;
    width: 100%;
    height: 230px;
    position: absolute;
    top: 60px;
    left: 150px;
    -webkit-box-shadow: 4px 4px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26); 
    box-shadow: 4px 4px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26);
}

.card {
    width: 95%;
    -webkit-box-shadow: 2px 2px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26); 
    box-shadow: 2px 2px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26);
    transition: all 0.2s;
}

.card:hover {
    transform: scale(1.015);
}

.card-body {
    background-color: #f9f7f7 !important;
}

.card-title {
    text-transform: capitalize;
    font-weight: bold;
}

.card-description {
    opacity: 0.9;
    font-size: 0.85rem;
}

.card-img-top {
    display: block;
    height: 250px;
    object-fit: cover;
}

#store-name {
    color: #ee6f57;
    text-transform: capitalize;
    letter-spacing: 0;
}

#cart-card {
    width: 100%;
}

#cart-card:hover {
    transform: scale(1);
}

#cart-item-img {
    object-fit: cover;
    height: 200px !important;
    width: 100%;
    -webkit-box-shadow: 4px 4px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26); 
    box-shadow: 4px 4px 0px 0px #112d4e, 8px 8px 7px 0px rgba(19,39,67,0.26);
}

#increment, #decrement{
    color: #112d4e !important;
}

#increment:hover, #decrement:hover{
    color: #112d4e !important;
}

.order-text-small {
    font-size: 0.75rem;
}

.order-text {
    font-size: 0.9rem;
}

.order-text-big {
    font-size: 1.1rem;
}

.chat-list {
    border: 2px solid #f9f7f7;
}

.chat-header {
    background-color: #112d4e;
    
}

.chat-header h4, .chat-header h4 i {
    color: #f9f7f7;
}

.chat-body {
    height: 500px;
    background-color: #f9f7f7;
    overflow-y: scroll;
}

.chat-message {
    width: 200px;
}

.payment-option {
    border: 1px solid #dbe2ef;
}

table .notification-table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dbe2ef;
}

tr:nth-child(even) {
    background-color: #f9f7f7;
  }

#tracking-status {
    text-transform: capitalize;
}

.track-order-container {
    background-color: #f9f7f7;
    padding: 1.5rem;
}